CF_STACK/step/S3_state-machine-definition.json
{
    "Comment": "A description of my state machine",
    "StartAt": "StartCrawler",
    "States": {
        "StartCrawler": {
            "Type": "Task",
            "Parameters": {
                "Name": "s3-crawlerCF"
            },
            "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
            "Next": "GetCrawler"
        },
        "GetCrawler": {
            "Type": "Task",
            "Parameters": {
                "Name": "s3-crawlerCF"
            },
            "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
            "Next": "Choice"
        },
        "Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.Crawler.State",
                    "StringEquals": "RUNNING",
                    "Next": "Wait"
                }
            ],
            "Default": "Glue StartJobRun"
        },
        "Wait": {
            "Type": "Wait",
            "Seconds": 20,
            "Next": "GetCrawler"
        },
        "Glue StartJobRun": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
                "JobName": "S3-SOURCE-ETL-JOB-CF"
            },
            "End": true
        }
    }
}